%h2= @default_video.title
.row
  .span8
    %iframe.youtube-player{frameborder: "0", height: "385",
      src: "http://www.youtube.com/embed/#{@default_video.video_id}",
      type: "text/html", width: "640"}
    - if current_user
      = render 'comments/new',video_id: @default_video.video_id
    = render 'comments/list'
  .span4
    .user_info.well
      = image_tag @default_video.user.avatar_url
    .videos
      - if @videos
        -@videos.each do |video|
          .video
            %h4
              = link_to video.title,user_path(video_id: video.id)
            %p
              = image_tag(video.thumbnails.first[:url])

- page_data('video-id' => @default_video.video_id )

