.row
  .span8
    %h4
      Videos de los programas
    .flexslider
      %ul.slides
        -@carrousel.each do |v|
          %li{"data-thumb" => v.small_thumb}
            =link_to user_path(v.user, video_id: v.id) do
              = image_tag(v.big_thumb)
              .well.slide-user-info
                %h4
                  =link_to v.title, user_path(v.user,video_id: v.id)
                  %em.muted
                    de
                    = link_to v.user.username, user_path(v.user)
  .span4
    .news
      %h4
        Noticias
      - Alert.all.each do |a|
        .alert.alert-success
          =raw a.text
    .week-conquest
      %h4
        Concurso de la semana!
      .week-conquest-list
        =render 'videos/conquest_list', videos: @week_conquest
.row
  .span6
    .last-videos-comunity
      %h4
        Videos comunidad
      = render 'videos/home_list', videos: @videos
      = will_paginate @videos, renderer: BootstrapPagination::Rails, previous_label: 'Anterior', next_label: 'Siguiente', inner_window: 2
  .span6
    .most-views.programs
      %h4
        = image_tag 'flame.png'
        +Vistos de los Programas
      %ul.nav.nav-pills
        %li.active
          %a{"data-toggle" => "pill", :href => "#mv-program-day"}
            Hoy
        %li
          %a{"data-toggle" => "pill", :href => "#mv-program-week"}
            Esta Semana
        %li
          %a{"data-toggle" => "pill", :href => "#mv-program-month"}
            Este Mes
      .tab-content
        #mv-program-day.tab-pane.active
          = render 'videos/home_list', videos: @top_today_programs
        #mv-program-week.tab-pane
          = render 'videos/home_list', videos: @top_week_programs
        #mv-program-month.tab-pane
          = render 'videos/home_list', videos: @top_month_programs

    .most-views.comunity
      %h4
        = image_tag 'flame.png'
        +Vistos en la Comunidad
      %ul.nav.nav-pills
        %li.active
          %a{"data-toggle" => "pill", :href => "#mv-community-day"}
            Hoy
        %li
          %a{"data-toggle" => "pill", :href => "#mv-community-week"}
            Esta Semana
        %li
          %a{"data-toggle" => "pill", :href => "#mv-community-month"}
            Este Mes
      .tab-content
        #mv-community-day.tab-pane.active
          = render 'videos/home_list', videos: @top_today
        #mv-community-week.tab-pane
          = render 'videos/home_list', videos: @top_week
        #mv-community-month.tab-pane
          = render 'videos/home_list', videos: @top_month



