%center.well
  %h2
    Bienvenido a AhReloco.tv, una nueva red social!
  %h4
    Aca vas a poder compartir tus videos y hacerte conocido en youtube!
%hr
  %h2
    Envienme una invitacion!
  = form_for @beta_user, class: 'form-horizontal' do |f|
    .control-group
      = f.label :username , 'Tu canal de youtube', class: 'control-label'
      .controls
        = f.text_field :username, placeholder: 'http://www.youtube.com/user/tucanal',
          class: 'input-xlarge'
    .control-group
      = f.label :email, 'Tu email', class: 'control-label'
      .controls
        = f.text_field :email, placeholder: 'tu@email.com',
          class: 'input-xlarge'
    .form-actions
      = f.submit 'QUIERO UNA INVITACION!',class: 'btn btn-success'
