.team
  %h2
    Nuestro equipo
  .span2.team-member
    = image_tag 'https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash3/543176_179506668839837_839089924_n.jpg', class: 'picture'
    %h5
      Natalia
    = mail_to  'natalia@hot.com', 'contatame!'
  .span2.team-member
    = image_tag 'https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-snc7/481553_10200140247529415_353821552_n.jpg', class: 'picture'
    %h5
      Bonzo
    = mail_to  'bonzofenix@gmail.com', 'contatame!'

  .span2.team-member
    = image_tag 'https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-snc7/481553_10200140247529415_353821552_n.jpg', class: 'picture'
    %h5
      Ralph
    = mail_to  'bonzofenix@gmail.com', 'contatame!'
