
%a.brand(href= '/')
  %i.icon-home.icon-white
  Ahreloco

%ul.nav
  %li.dropdown.programs
    %a.dropdown-toggle.programs-btn(href="#")
      Programas
      %b.caret
    %ul.dropdown-menu
      - Program.all.each do |p|
        %li.program
          %a
            = image_tag p.avatar_url
            =  p.name
            %b.caret
        .channels.hide
          -p.users.each do |u|
            %li.channel= link_to u.username, user_path(u)
  %li.dropdown.programs
    = link_to 'Videos de la comunidad', videos_path

%ul.nav.pull-right
  - if user_signed_in?
    %li.dropdown
      %a.dropdown-toggle(href="#" data-toggle="dropdown")
        %i.icon-film.icon-white
        Concurso de la semana!
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to new_video_path do
            Subi tu video

    %li.divider-vertical
    %li
      = link_to current_user, class: 'image' do
        = image_tag current_user.avatar_url, width: 30, height: 25
        = current_user.username
    %li.divider-vertical
    %li.dropdown
      %a.dropdown-toggle(href="#" data-toggle="dropdown")
        %i.icon-cog.icon-white
      %ul.dropdown-menu
        %li
          = link_to current_user do
            %i.icon-user
            Editar mi perfil
        %li
          = link_to signout_path do
            %i.icon-off
            Cerrar sesion

  -  else
    %li
      = link_to "Loggeate con tu cuenta de youtube", '/auth/youtube'
