!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Ahreloco"
      %meta{:content => content_for?(:description) ? yield(:description) : "Ahreloco", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}", :data => page_attributes }

    = analytics_init if Rails.env.production?

    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
          %footer.row
            .container-footer.span12
              .container-footer-inner
                %dl
                  %dt
                    Ahreloco.tv
                %dl
                  %dt
                    Quienes somos?
                  %dd
                    = link_to('Equipo', team_index_path)
                %dl
                  %dt
                    Ayuda
                  %dd
                    = link_to('Preguntas Frecuents', '#')
                  %dd
                    = mail_to('bonzofenix@gmail.com','Contactanos')
                %dl
                  %dt
                    Comunidad
                  %dd
                    = link_to('Facebook', "http://www.facebook.com/ahrelocotv", rel: 'nofollow')
                  %dd
                    = link_to('Twitter',"https://twitter.com/ahrelocotv", :rel => 'nofollow')
      / ! end of .container
    / ! end of #main
